# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.venv/
venv/
env/
.env

# Node
node_modules/
dist/
build/
.npm/

# Data & ML
*.csv
*.pkl
*.json
*.joblib
!data/scenarios/*.json
!ml/features/feature_config.json

# Testing and Logs
.pytest_cache/
logs/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
